.footer-wrapper
  .footer
    .footer-top
      .container
        .footer-top__left Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .footer-top__middle
          ul.footer-top__middle-nav
            li.footer-top__middle-nav-item
              a(href="works.html", class="link") Мои работы
            li.footer-top__middle-nav-item
              a(href="about.html", class="link") Обо мне
            li.footer-top__middle-nav-item
              a(href="blog.html", class="link") Блог
            li.footer-top__middle-nav-item
              a(href="index.html", class="link") Авторизация

          ul.footer-top__social-links.social-links
            li.social-links__item
              a(href="https://vk.com/", class="social-links__item-link", target="_blank") vk.com
                +icon('vk', 'social--footer-top')
            li.social-links__item
              a(href="https://github.com/rustamojukas/", class="social-links__item-link", target="_blank") github.com
                +icon('github', 'social--footer-top')
            li.social-links__item
              a(href="https://www.linkedin.com/", class="social-links__item-link", target="_blank") linkedin.com
                +icon('in', 'social--footer-top')
        .footer-top__right
          .footer-top__right-quote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
            span.footer-top__right-quote_quot-autor — Martin Golding
    .footer-bottom
      .footer-bottom__copyright &copy Rustam Ojukas | Создоно с любовью в LoftSchool | 2016
