.welcome-wrapper
  section.welcome
    .top-menu-wrapper
      ul.top-menu__social-links.social-links
        li.social-links__item
          a(href="https://vk.com/", class="social-links__item-link", target="_blank") vk.com
            +icon('vk', 'social')
        li.social-links__item
          a(href="https://github.com/rustamojukas/", class="social-links__item-link", target="_blank") github.com
            +icon('github', 'social')
        li.social-links__item
          a(href="https://www.linkedin.com/", class="social-links__item-link", target="_blank") linkedin.com
            +icon('in', 'social')
      nav.top-menu
        +icon('hamburger', 'menu-icon')
    .user-info-wrapper
      +icon('portfolio_header')
      .user-info
        .user-info__user-image
          img.user-info__user-image-file(src="/assets/img/my-image.png", alt="Rustam Ojukas")
        h1.user-info__user-name Рустам Оюкас
        h2.user-info__description.about-page-user-card__description Личный сайт вэб разработчика
    a(href="#" class="header__arrow-down")
      +icon('arrow_down', 'header__arrow-down-icon')
