.welcome-wrapper
  section.welcome
    .top-menu-wrapper
      ul.top-menu__social-links.social-links
        li.social-links__item
          a(href="#", class="social-links__item-link") vk.com
            +icon('vk', 'social')
        li.social-links__item
          a(href="#", class="social-links__item-link") github.com
            +icon('github', 'social')
        li.social-links__item
          a(href="#", class="social-links__item-link") in
            +icon('in', 'social')
      nav.top-menu
        +icon('hamburger', 'menu-icon')
    .welcome__user-card-wrapper.about-page-welcome__user-card-wrapper
      .welcome__user-card
        .user-card__user-image
          img.user-card__user-image-file(src="/assets/img/my-image.png", alt="Rustam Ojukas")
        h1.user-card__user-name Рустам Оюкас
        h2.user-card__description.about-page-user-card__description Личный сайт вэб разработчика
    a(href="#" class="header__arrow-down")
      +icon('arrow_down', 'header__arrow-down-icon')
  svg(class="triangle" viewBox="0 0 1000 86" preserveAspectRatio="none")
    polygon(class="triangle__left-side" points="0,0 0,86 500.8,86 500,84" fill="none")
    polygon(class="triangle__right-side" points="1000,00 1000,86 500,86 500,84" fill="none")
