.header-wrapper
  .header
    ul.header__nav-social
      li.header__nav-social-item
        a(href="#", class="social-link") vk.com
          +icon('vk', 'social-vk')
      li.header__nav-social-item
        a(href="#", class="social-link") github.com
          +icon('github', 'social-github')
      li.header__nav-social-item
        a(href="#", class="social-link") in
          +icon('in', 'social-in')
    nav.menu
      +icon('hamburger', 'menu-icon')
    .header__middle-wrapper
      section.header__middle
        +icon('portfolio_header', 'portfolio_header')
        .welcome-wrapper
          .welcome
            .welcome__info-user-image
              img.user-image-file(src="/assets/img/pic.jpg", alt="Rustam Ojukas")
            h1.welcome__info-user-name Rustam Ojukas
            h2.welcome__info-description Личный сайт вэб разработчика
    a(href="#" class="header__arrow-down")
      +icon('arrow_down', 'header__arrow-down-icon')
    svg(class="traingle" viewBox="0 0 1000 86" preserveAspectRatio="none")
      polygon(class="triangle__left-side" points="0,0 0,86 500.8,86 500,84" fill="none")
      polygon(class="triangle__right-side" points="1000,00 1000,86 500,86 500,84" fill="none")
