.footer-top {
  height: 147px;
  background-color: rgba($forest-grey,0.85);
  line-height: 1.75;
  @extend %clearfix;
}

.footer-top__left,
.footer-top__middle,
.footer-top__right {
  float: left;
  width: 33%;
  height: 100%;
  position: relative;
  padding-top: 22px;
  padding-left: 30px;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -44px;
    display: inline-block;
    width: 1px;
    height: 88px;
    background-color: rgba(#ffffff, 0.2)
  }
}

.footer-top__left {
  font-family: 'RobotoLight', sans-serif;
  color: #ffffff;
  &:before {
    display: none;
  }
}

.footer-top__middle {
  padding-right: 30px;
}

.footer-top__middle-nav {
  text-align: justify;
  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0px;
  }
}

.footer-top__middle-nav-item {
  display: inline-block;
  a {
    font-family: 'RobotoMedium', sans-serif;
    color: #ffffff;
  }
}

.footer-top__middle-nav-social-item {
  display: inline-block;
  margin-right: 20px;
  .social-link {
    font-size: 0;
    .social-vk,
    .social-github,
    .social-in {
      fill: rgba(#ffffff, 0.5);
      &:hover {
        fill: #ffffff;
      }
    }
    .social-vk {
      width: 32px;
      height: 18px;
    }
    .social-github {
      width: 26px;
      height: 22px;
    }
    .social-in {
      width: 26px;
      height: 22px;
    }
  }
}

.footer-top__right-quote {
  font-family: 'RobotoLightItalic', sans-serif;
  color: rgba(#ffffff, 0.5);
  &_quot-autor {
    font-family: 'RobotoBoldItalic', sans-serif;
    display: block;
  }
}

.footer-bottom {
  height: 38px;
  background-color: rgba($forest-green-light,0.85);
}

.footer-bottom__copyright {
  font-family: 'RobotoLight', sans-serif;
  color: #ffffff;
  text-align: center;
  line-height: 38px;
}
