.footer {
  width: 100%;
}

.footer-top {
  height: 147px;
  background-color: rgba($forest-grey,0.85);
  line-height: 1.75;
  @extend %clearfix;
}

.footer-top__left,
.footer-top__middle,
.footer-top__right {
  float: left;
  width: 33%;
  height: 100%;
  padding-left: 28px;
  position: relative;
  padding-top: 24px;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -44px;
    display: inline-block;
    width: 1px;
    height: 88px;
    background-color: rgba(#ffffff, 0.2)
  }
}

.footer-top__left {
  font-family: 'RobotoLight', sans-serif;
  color: #ffffff;
  &:before {
    display: none;
  }
}

.footer-top__middle-nav {
  display: table;
  width: 100%;
  margin-bottom: 24px;
}

.footer-top__middle-nav-item {
  display: table-cell;
  .link {
    font-family: 'RobotoMedium', sans-serif;
    color: #ffffff;
    display: block;
  }
}

.footer-top__right-quote {
  font-family: 'RobotoLightItalic', sans-serif;
  color: rgba(#ffffff, 0.5);
  &_quot-autor {
    font-family: 'RobotoBoldItalic', sans-serif;
    display: block;
  }
}

.footer-bottom {
  height: 38px;
  background-color: rgba($forest-green-light,0.85);
}

.footer-bottom__copyright {
  font-family: 'RobotoLight', sans-serif;
  color: #ffffff;
  text-align: center;
  line-height: 38px;
}
