.background-wrapper {
  background-image: url('/assets/img/1200x789-header-bg.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-menu-wrapper {
  @extend %clearfix;
  margin-bottom: 45px;
}

.top-menu__social-links {
  float: left;
  margin-top: 30px;
  margin-left: 28px;
}

.top-menu {
  float: right;
  margin-top: 30px;
  margin-right: 28px;
  .menu-icon {
    width: 42px;
    height: 36px;
    fill: #ffffff;
  }
}

.about-page-welcome__user-card-wrapper {
  margin-bottom: 130px;
  .about-page-user-card__description {
    margin-bottom: 0;
  }
}

.header__arrow-down {
  display: block;
  width: 27px;
  margin: 0 auto -44px;
}

.header__arrow-down-icon {
  width: 27px;
  height: 16px;
  fill: rgba(#ffffff, 0.7)
}

.triangle {
  position: relative;
  bottom: -4px;
}
