.background-wrapper {
  background-image: url('/assets/img/1200x789-header-bg.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-menu-wrapper {
  @extend %clearfix;
  margin-bottom: 45px;
}

.top-menu__social-links {
  float: left;
  margin-top: 30px;
  margin-left: 28px;
}

.top-menu {
  float: right;
  margin-top: 30px;
  margin-right: 28px;
  .menu-icon {
    width: 42px;
    height: 36px;
    fill: #ffffff;
  }
}

.user-info {
  width: 100%;
  padding-top: 38px;
  margin-bottom: 134px;
  text-align: center;
  color: #ffffff;
}

.user-info__user-image{
  width: 142px;
  height: 142px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 21px;

  .user-info__user-image-file{
    max-width: 200px;
    display: block;
    position: absolute;
    top: -22px;
    left: -38px;
  }
}

.user-info__user-name {
  font-size: 35px;
  margin-bottom: 6px;
}

.user-info__description {
  font-size: 16px;
}

.header__arrow-down {
  display: block;
  width: 27px;
  margin: 0 auto -44px;
}

.header__arrow-down-icon {
  width: 27px;
  height: 16px;
  fill: rgba(#ffffff, 0.7)
}

.triangle {
  position: relative;
  bottom: -4px;
}
