/**
 * Layout styles
 */
 .page-wrapper {
   height: 100%;
   margin: 0 auto;
 }

 .page {
   min-height: 100%;
 }

 .page:after {
   content: '';
   display: block;
   height: 185px;
 }

.footer-wrapper {
  height: 185px;
  width: 100%;
  margin-top: -185px;
}

.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
