$basic-font:    'RobotoRegular', sans-serif;
$basic-font-size: 16px;
$forest-grey: #373e42;
$forest-grey-light: #566358;
$forest-green: #4e8839;
$forest-green-light: #6c9c5a;
$text-link-color: #6da3bd;
$about-background-left: #ebefe2;
$about-background-right: #f4f5f0;
$works-content-top-background: #f8f9f5;
$diagram-stroke-background: #dfdcd5;
$login-form-icon-background: #f0efe9;
$login-form-icon-color: #c4cbcd;
$form-elemets-text-color: rgba(#ffffff, 0.8);
