/**
 * Index page styles
 */
.index-page {
  height: 100%;
  min-height: 700px;
  background-image: url('/assets/img/1200x789-header-bg.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.page__dark-top::before {
  content: "";
  background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.33) 10%,rgba(0,0,0,0) 30%);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.67;
  left: 0;
  top: 0;
}

.page__dark-bottom::after {
  content: "";
  background: linear-gradient(to bottom, rgba(0,0,0,0) 90%,rgba(0,0,0,0.55) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.2;
  left: 0;
  bottom: 0;
}

.welcome-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.welcome {
  height: 100%;
}

.authorisation-wrapper {
  text-align: right;
  padding: 20px;
  margin-bottom: 35px;
}

.login-button {
  color: #ffffff;
  display: inline-block;
  padding: 0 28px;
  line-height: 44px;
  border: 1px solid #ffffff;
  border-radius: 22px;
  &:hover {
    background-color: $forest-green;
    border-color: $forest-green-light;
  }
}

.welcome__user-card-wrapper {
  width: 380px;
  margin: 0 auto;
  perspective: 1000px;
}

.welcome__user-card {
  width: 380px;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  color: #ffffff;
}

.welcome__user-card-wrapper:hover,
.flipped {
  .welcome__user-card {
   transform: rotateY(180deg);
 }
}

.welcome__user-card-front,
.welcome__user-card-back {
  background-color: rgba(#122620, 0.6);
  width: 100%;
  backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.welcome__user-card-back {
  padding-top: 32px;
  transform: rotateY(180deg);
  text-align: center;
}

.login-title {
  position: relative;
  text-align: center;
  margin-bottom: 52px;
  .login-title-text {
    font-family: 'SansusWebissimoRegular', sans-serif;
    font-size: 35px;
    &:after {
      content: "";
      width: 88px;
      height: 3px;
      position: absolute;
      bottom: -22px;
      left: 50%;
      margin-left: -44px;
      background-color: #ffffff;
    }
  }
}

.login-form_input {
  width: 340px;
  border: 0;
  height: 45px;
  border-radius: 22px;
  margin: 0 auto 20px;
  padding-left: 45px;
}

.welcome__user-card-front {
  padding-top: 38px;
  text-align: center;
  color: #ffffff;
  z-index: 2;
  transform: rotateY(0deg);
}

.user-card__user-image{
  width: 142px;
  height: 142px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 12px;

  .user-card__user-image-file{
    max-width: 200px;
    display: block;
    position: absolute;
    top: -22px;
    left: -38px;
  }
}

.user-card__user-name {
  font-size: 28px;
  margin-bottom: 10px;
}

.user-card__description {
  font-size: 16px;
  margin-bottom: 34px;
}

.user-card__social{
  margin-bottom: 38px;
}

.user-card__social-item,
.social-links__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 24px;
  &:first-child{
    margin-left: 0;
  }
}

.user-card__social-item-link,
.social-links__item-link {
  font-size: 0;
  .social {
    fill: #ffffff;
    &:hover {
      fill: $forest-green;
    }
    &--footer-top {
      fill: rgba(#ffffff, 0.5);
      &:hover {
        fill: #ffffff;
      }
    }
  }

  .icon-vk {
    width: 32px;
    height: 18px;
  }

  .icon-github {
    width: 26px;
    height: 22px;
  }

  .icon-in {
    width: 26px;
    height: 22px;
  }
}

.user-card__nav {
  display: table;
  width: 100%;
}

.user-card__nav-item {
  position: relative;
  display: table-cell;
  padding: 0 30px;
  background-color: $forest-green-light;
  &:hover {
    background-color: $forest-green;
  }
  &:first-child {
    border-bottom-left-radius: 6px;
  }
  &:last-child {
    border-bottom-right-radius: 6px;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: rgba(#ffffff, 0.5);
  }
  &:first-child:after {
    display: none;

  }
  .link {
    font-family: 'RobotoMedium', sans-serif;
    color: #ffffff;
    display: block;
    line-height: 45px;
  }
}



.index-page__footer {
  color: #ffffff;
  width: 100%;
  position: absolute;
  bottom: 40px;
}

.index-page__footer-copyright {
  text-align: center;
}
