/**
 * Index page styles
 */
.index-page {
  height: 100%;
  min-height: 700px;
  background-image: url('/assets/img/1200x789-header-bg.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.page__dark-top::before {
  content: "";
  background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.33) 10%,rgba(0,0,0,0) 30%);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.67;
  left: 0;
  top: 0;
}

.page__dark-bottom::after {
  content: "";
  background: linear-gradient(to bottom, rgba(0,0,0,0) 90%,rgba(0,0,0,0.55) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.2;
  left: 0;
  bottom: 0;
}

.welcome-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.welcome {
  height: 100%;
}

.authorisation-wrapper {
  text-align: right;
  height: 86px;
  padding: 20px;
  margin-bottom: 35px;
}

.login-button {
  color: #ffffff;
  display: inline-block;
  padding: 0 28px;
  line-height: 44px;
  border: 1px solid #ffffff;
  border-radius: 22px;
  &:hover {
    background-color: $forest-green;
    border-color: $forest-green-light;
  }
}

.welcome__user-card-wrapper {
  width: 380px;
  margin: 0 auto;
  perspective: 1000px;
}

.welcome__user-card {
  width: 380px;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  color: #ffffff;
}

.flipped {
  .welcome__user-card {
   transform: rotateY(180deg);
 }
}

.welcome__user-card-front,
.welcome__user-card-back {
  background-color: rgba(#122620, 0.6);
  width: 100%;
  backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.welcome__user-card-back {
  padding-top: 32px;
  transform: rotateY(180deg);
  text-align: center;
}

.login-title {
  position: relative;
  text-align: center;
  margin-bottom: 52px;
  .login-title-text {
    font-family: 'SansusWebissimoRegular', sans-serif;
    font-size: 35px;
    &:after {
      content: "";
      width: 88px;
      height: 3px;
      position: absolute;
      bottom: -22px;
      left: 50%;
      margin-left: -44px;
      background-color: #ffffff;
    }
  }
}

.login-form__user-login-name-wrapper,
.login-form__user-password-wrapper {
  display: inline-block;
  margin: 0 auto 20px;
  position: relative;
}

.login-form__icon {
  width: 45px;
  height: 45px;
  padding-top: 15px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 22px 0 0 22px;
  background-color: $login-form-icon-background;
  fill: $login-form-icon-color;
  .icon-login {
    width: 15px;
    height: 16px;
  }
  .icon-password {
    width: 18px;
    height: 16px;
  }
}

.login-form__input {
  width: 295px;
  border: 0;
  height: 45px;
  border-radius: 0 22px 22px 0;
  margin-left: 45px;
  padding-left: 19px;
  color: rgba($forest-grey, 0.5);
  &:focus {
    outline: none;
    color: $forest-grey;
    border: 1px solid $forest-green;
    + .login-form__input-label {
      fill: $forest-green;
    }
  }
}

.login-form__user-check-wrapper {
  margin: 0 auto 17px;
  line-height: 20px;
}

.login-form__user-check {
  display: none;
}

.login-form__user-check-label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  color: $form-elemets-text-color;
}

.login-form__user-check-label:before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
}

.login-form__user-check:checked + .login-form__user-check-label:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  line-height: 20px;
  border: 0;
  background-color: $forest-green-light;
  border-color: $forest-green-light;
}

.login-form__user-question {
  font-family: 'RobotoBold', sans-serif;
  font-size: 16px;
  color: $form-elemets-text-color;
  margin-bottom: 11px;
}
.login-form__user-radio-wrapper {
  margin-bottom: 40px;
}

.login-form__user-radio {
  display: none;
}

.login-form__user-radio-label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin-left: 36px;
  padding-left: 29px;
  color: $form-elemets-text-color;
}

.login-form__user-radio-label:first-of-type {
  margin-left: 0;
}

.login-form__user-radio-label:before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  background-color: #ffffff;
  border: 6px solid #ffffff;
  border-radius: 50%;
}

.login-form__user-radio:checked + .login-form__user-radio-label:before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  background-color: $forest-green-light;
  border: 6px solid #ffffff;
  border-radius: 50%;
}

.login-form__user-radio:checked + .login-form__user-radio-label {
  color: $forest-green-light;
}

.user-card-back__nav {
  display: table;
  width: 100%;
}

.user-card-back__nav-item {
  position: relative;
  display: table-cell;
  width: 50%;
  background-color: $forest-green-light;
  &:hover {
    background-color: $forest-green;
  }
  &:first-child {
    border-bottom-left-radius: 6px;
  }
  &:last-child {
    border-bottom-right-radius: 6px;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: rgba(#ffffff, 0.5);
  }
  &:first-child:after {
    display: none;

  }
  .link {
    font-family: 'RobotoMedium', sans-serif;
    color: #ffffff;
    display: block;
    line-height: 45px;
  }
}

.welcome__user-card-front {
  padding-top: 38px;
  text-align: center;
  color: #ffffff;
  z-index: 2;
  transform: rotateY(0deg);
}

.user-card__user-image{
  width: 142px;
  height: 142px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 12px;

  .user-card__user-image-file{
    max-width: 200px;
    display: block;
    position: absolute;
    top: -22px;
    left: -38px;
  }
}

.user-card__user-name {
  font-size: 28px;
  margin-bottom: 10px;
}

.user-card__description {
  font-size: 16px;
  margin-bottom: 34px;
}

.user-card__social{
  margin-bottom: 38px;
}

.user-card__social-item,
.social-links__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 24px;
  &:first-child{
    margin-left: 0;
  }
}

.user-card__social-item-link,
.social-links__item-link {
  font-size: 0;
  .social {
    fill: #ffffff;
    &:hover {
      fill: $forest-green;
    }
    &--footer-top {
      fill: rgba(#ffffff, 0.5);
      &:hover {
        fill: #ffffff;
      }
    }
  }

  .icon-vk {
    width: 32px;
    height: 18px;
  }

  .icon-github {
    width: 26px;
    height: 22px;
  }

  .icon-in {
    width: 26px;
    height: 22px;
  }
}

.user-card-front__nav {
  display: table;
  width: 100%;
}

.user-card-front__nav-item {
  position: relative;
  display: table-cell;
  padding: 0 30px;
  background-color: $forest-green-light;
  &:hover {
    background-color: $forest-green;
  }
  &:first-child {
    border-bottom-left-radius: 6px;
  }
  &:last-child {
    border-bottom-right-radius: 6px;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: rgba(#ffffff, 0.5);
  }
  &:first-child:after {
    display: none;

  }
  .link {
    font-family: 'RobotoMedium', sans-serif;
    color: #ffffff;
    display: block;
    line-height: 45px;
  }
}



.index-page__footer {
  color: #ffffff;
  width: 100%;
  position: absolute;
  bottom: 40px;
}

.index-page__footer-copyright {
  text-align: center;
}
