/**
 * Index page styles
 */
.index-page {
  height: 100%;
  min-height: 700px;
  background-image: url('/assets/img/1200x789-header-bg.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &::before {
    content: "";
    background: linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.33) 10%,rgba(0,0,0,0) 30%);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.67;
    left: 0;
    top: 0;
  }
  &::after {
    content: "";
    background: linear-gradient(top, rgba(0,0,0,0) 90%,rgba(0,0,0,0.55) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.2;
    left: 0;
    bottom: 0;
  }
}

.welcome-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.authorisation-wrapper {
  text-align: right;
  padding: 20px;
  margin-bottom: 35px;
}

.login-button {
  color: #ffffff;
  display: inline-block;
  padding: 0 28px;
  line-height: 44px;
  border: 1px solid #ffffff;
  border-radius: 22px;
}

.welcome__user-card {
  width: 380px;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(#122620, 0.6);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.user-card__user-image{
  width: 142px;
  height: 142px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 30px;

  .user-card__user-image-file{
    max-width: 200px;
    display: block;
    position: absolute;
    top: -22px;
    left: -38px;
  }
}

.user-card__user-name {
  font-family: 'RobotoMedium', sans-serif;
  font-size: 35px;
  margin-bottom: 7px;
}

.user-card__description {
  font-family: 'RobotoRegular', sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
}

.user-card__social{
  margin-bottom: 40px;
}

.user-card__social-item,
.social-links__item {
  display: inline-block;
  margin-right: 20px;
  &:last-child{
    margin-right: 0;
  }
}

.user-card__social-item-link,
.social-links__item-link {
  font-size: 0;
  .social {
    fill: #ffffff;
    &:hover {
      fill: $forest-green;
    }
  }

  .icon-vk {
    width: 32px;
    height: 18px;
  }

  .icon-github {
    width: 26px;
    height: 22px;
  }

  .icon-in {
    width: 26px;
    height: 22px;
  }
}

.user-card__nav {
  display: table;
  width: 100%;
}

.user-card__nav-item {
  position: relative;
  display: table-cell;
  background-color: $forest-green-light;
  &:hover {
    background-color: $forest-green;
  }
  &:first-child {
    border-bottom-left-radius: 6px;
  }
  &:last-child {
    border-bottom-right-radius: 6px;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: rgba(#ffffff, 0.5);
  }
  &:first-child:after {
    display: none;

  }
  .link {
    font-family: 'RobotoMedium', sans-serif;
    color: #ffffff;
    display: block;
    padding: 0 30px;
    line-height: 45px;
  }
}

.index-page__footer {
  position: absolute;
  bottom: 40px;
  color: #ffffff;
  width: 100%;
}

.index-page__footer-copyright {
  text-align: center;
}
