extends ../_template

block variables
  - var title = 'ОБО МНЕ'

block content
  .page-wrapper
    .page
      .background-wrapper.page__dark-top
        include ../common/_header
      .content
        .about-content__left-wrapper
          .about-content__left
            .about-content__left-title
              +icon('about_header')
              h1.about-title.upper-text Обо мне
            .about-content__user
              .about-content__user-image
                img.about-content__user-image-file(src="/assets/img/my-image.png", alt="Rustam Ojukas")
              .about-content__user-title
                h2.about-content__user-title-text.upper-text Кто я
              .about-content__user-text
                p Я веб разработчик из Эстонии. Мне 32 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .about-content__right-wrapper
          .about-content__right
            h2.about-title-h2.upper-text.
              Чем я могу быть
              </br> вам полезен
            .about-user__description
              p.
                Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
      .map-wrapper
        #map
          script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJA3rp4tgCmTaJoODxPmVaCsT2mQbMCb8")
          script(src='/assets/js/plugins/snazzy/snazzy-maps.js')
        .contacts-block
          h2.contacts-block__title.upper-text Контакты
          .contacts-block_item
            +icon('skype','contact-skype')
            |r.ojukas
          .contacts-block_item
            +icon('envelope2','contact-email')
            |rustam.ojukas@gmail.com
          .contacts-block_item
            +icon('phone2','contact-phone')
            |+372534980112
          .contacts-block_item
            +icon('map_marker','contact-address')
            |Koidutähe tee 56
          +icon('map_marker','marker')
    include ../common/_footer
