extends ../_template

block variables
  - var title = 'ОБО МНЕ'

block content
  .page-wrapper
    .page
      .background-wrapper.page__dark-top
        include ../common/_header
        svg(class="triangle triangle-about-page" viewBox="0 0 1000 86" preserveAspectRatio="none")
          polygon(class="triangle__left-side" points="0,0 0,86 500.8,86 500,84" fill="none")
          polygon(class="triangle__right-side" points="1000,00 1000,86 500,86 500,84" fill="none")
      .content
        .about-content__left-wrapper
          .about-content__left
            .about-content__left-title
              h1.about-title.upper-text Обо мне
              +icon('about_header')
            .about-content__user
              .about-content__user-image
                img.about-content__user-image-file(src="/assets/img/my-image.png", alt="Rustam Ojukas")
              .about-content__user-title
                h2.about-content__user-title-text.upper-text Кто я
              .about-content__user-text
                p Я веб разработчик из Эстонии. Мне 32 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .about-content__right-wrapper
          .about-content__right
            h2.about-title-h2.upper-text.
              Чем я могу быть
              </br> вам полезен
            .about-user__description
              p.
                Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
            .skills-wrapper
              h2.about-content__skills-title Frontend
              ul.about-content__skills-list
                li.about-content__skills-list-item
                  svg(class="skill-diagram")
                    circle(class="circle" r="56" cx="56" cy="56"  stroke-dasharray="327.36 352")
                    circle(class="circle-inner" r="36" cx="56" cy="56")
                  span.skill-name HTML5
                li.about-content__skills-list-item
                  svg(class="skill-diagram")
                    circle(class="circle" r="56" cx="56" cy="56"  stroke-dasharray="327.36 352")
                    circle(class="circle-inner" r="36" cx="56" cy="56")
                  span.skill-name CSS3
                li.about-content__skills-list-item
                  svg(class="skill-diagram")
                    circle(class="circle" r="56" cx="56" cy="56"  stroke-dasharray="327.36 352")
                    circle(class="circle-inner" r="36" cx="56" cy="56")
                  span.skill-name JavaScript</br>&amp jQuery
              h2.about-content__skills-title Backend
              ul.about-content__skills-list
                li.about-content__skills-list-item
                  svg(class="skill-diagram")
                    circle(class="circle" r="56" cx="56" cy="56"  stroke-dasharray="327.36 352")
                    circle(class="circle-inner" r="36" cx="56" cy="56")
                  span.skill-name PHP
                li.about-content__skills-list-item
                  svg(class="skill-diagram")
                    circle(class="circle" r="56" cx="56" cy="56"  stroke-dasharray="327.36 352")
                    circle(class="circle-inner" r="36" cx="56" cy="56")
                  span.skill-name MySQL
                li.about-content__skills-list-item
                  svg(class="skill-diagram")
                    circle(class="circle" r="56" cx="56" cy="56"  stroke-dasharray="327.36 352")
                    circle(class="circle-inner" r="36" cx="56" cy="56")
                  span.skill-name Node.js</br>&amp npm
                li.about-content__skills-list-item
                  svg(class="skill-diagram")
                    circle(class="circle" r="56" cx="56" cy="56"  stroke-dasharray="327.36 352")
                    circle(class="circle-inner" r="36" cx="56" cy="56")
                  span.skill-name Mongo.db
              h2.about-content__skills-title WorkFlow
              ul.about-content__skills-list
                li.about-content__skills-list-item
                  svg(class="skill-diagram")
                    circle(class="circle" r="56" cx="56" cy="56"  stroke-dasharray="327.36 352")
                    circle(class="circle-inner" r="36" cx="56" cy="56")
                  span.skill-name Git
                li.about-content__skills-list-item
                  svg(class="skill-diagram")
                    circle(class="circle" r="56" cx="56" cy="56"  stroke-dasharray="327.36 352")
                    circle(class="circle-inner" r="36" cx="56" cy="56")
                  span.skill-name Gulp
                li.about-content__skills-list-item
                  svg(class="skill-diagram")
                    circle(class="circle" r="56" cx="56" cy="56"  stroke-dasharray="327.36 352")
                    circle(class="circle-inner" r="36" cx="56" cy="56")
                  span.skill-name Bower
      .map-wrapper
        #map
          script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJA3rp4tgCmTaJoODxPmVaCsT2mQbMCb8")
          script(src='/assets/js/plugins/snazzy/snazzy-maps.js')
        .contacts-block
          h2.contacts-block__title.upper-text Контакты
          ul.contacts-block-list
            li.contacts-block-list__item
              a(href="skype:r.ojukas?chat", class="contacts-block-list__item-link")
                +icon('skype','contact-skype')
                span.contact-text r.ojukas
            li.contacts-block-list__item
              a(href="mailto:rustam.ojukas@gmail.com", class="contacts-block-list__item-link")
                +icon('envelope2','contact-email')
                span.contact-text rustam.ojukas@gmail.com
            li.contacts-block-list__item
              a(href="tel:+372534980112", class="contacts-block-list__item-link")
                +icon('phone2','contact-phone')
                span.contact-text +372534980112
            li.contacts-block-list__item
              a(href="https://goo.gl/maps/CPh9CawnKGA2", class="contacts-block-list__item-link", target="_blank")
                +icon('map_marker','contact-address')
                span.contact-text Koidutähe tee 56
          +icon('map_marker','marker')
    include ../common/_footer
