extends ../_template

block variables
  - var title = 'ОБО МНЕ'

block content
  .page-wrapper
    .page
      include ../common/_header
      .content content
      .map-wrapper
        #map
          script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJA3rp4tgCmTaJoODxPmVaCsT2mQbMCb8")
        .contacts-block
          h2.contacts-block__title Контакты
          .contacts-block_item
            +icon('skype','contact-skype')
            |r.ojukas
          .contacts-block_item
            +icon('envelope2','contact-email')
            |rustam.ojukas@gmail.com
          .contacts-block_item
            +icon('phone2','contact-phone')
            |+372534980112
          .contacts-block_item
            +icon('map_marker','contact-address')
            |Koidutähe tee 56
          +icon('map_marker','marker')
    include ../common/_footer
