extends ../_template

block variables
  - var title = 'Home page'

block content
  .main-wrapper
    .main
      a(href="#" class="login-button") Авторизоваться
      .welcome-wrapper
        .welcome
          .welcome__info-user-image
            img.user-image-file(src="/assets/img/pic.jpg", alt="Rustam Ojukas")
          h1.welcome__info-user-name Rustam Ojukas
          h2.welcome__info-description Личный сайт вэб разработчика
          ul.welcome__nav-social
            li.welcome__nav-social-item
              a(href="#", class="social-link") vk.com
                +icon('vk', 'social-vk')
            li.welcome__nav-social-item
              a(href="#", class="social-link") github.com
                +icon('github', 'social-github')
            li.welcome__nav-social-item
              a(href="#", class="social-link") in
                +icon('in', 'social-in')
          .welcome__nav-wrapper
            ul.welcome__nav
              li.welcome__nav-item
                a(href="works.html", class="link") Мои работы
              li.welcome__nav-item
                a(href="about.html", class="link") Обо мне
              li.welcome__nav-item
                a(href="blog.html", class="link") Блог
      .main__footer
        .main__footer-copyright &copy Rustam Ojukas | Создоно с любовью в LoftSchool | 2016
